## Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence.

### Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [2]:
name = 'James'

In [3]:
name

'James'

In [5]:
university = "MMU"

In [6]:
university

'MMU'

In [8]:
greeting = 'Habari Yako!'

In [9]:
greeting

'Habari Yako!'

In [12]:
# If your sentence contains a single quote then use double quote to enclose the whole statement and vice versa
sentence = "Now I'm ready to use the single quotes inside a string!"

In [11]:
sentence

"Now I'm ready to use the single quotes inside a string!"

#### Printing a String
we display strings in the output using print function

In [14]:
print('Python is fun')

Python is fun

#### String Basics

We can use a function called len() to check the length of a string.

In [16]:
len('I am James Matata')

17

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

#### String Indexing
Since strings are a sequence Python can use indexes to call parts of the strings. 
In Python, we use square brackets [] after an object to call its index. Also note that indexing starts at 0 for Python.

In [17]:
name = 'James'

In [19]:
print(name)

James

In [20]:
# Printing the first letter of the name
print(name[0])

J

In [21]:
print(name[1])

a

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [26]:
# Grab everything past the first letter all the way to the length of name which is len(name)
print(name[1:])

ames

In [27]:
# Grab everything UP TO the 3rd index
print(name[:3])

Jam

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index.

In [28]:
# Print everything
print(name[:])

James

We can also use negative indexing to go backwards.

In [30]:
# Last letter (one index behind 0 so it loops back around)
print(name[-1])

s

In [31]:
# Grab everything but the last letter
print(name[:-1])

Jame

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [32]:
# Grab everything, but go in steps size of 1
print(name[::1])

James

In [33]:
# Grab everything, but go in steps size of 2
print(name[::2])

Jms

In [34]:
# We can use this to print a string backwards
print(name[::-1])

semaJ

#### String Properties
It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [35]:
name

'James'

In [36]:
# Let's try to change the first letter to 'c'
name[0] = 'c'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [37]:
name

'James'

In [39]:
# Concatenate strings!
name + ' Matata'

'James Matata'

In [41]:
# Let's try to change the first letter to 'c' using concatenation

name = 'c' + name[1:]

In [42]:
name

'cames'

We can use the multiplication symbol to create repetition!

In [43]:
letter = 'j'

In [44]:
letter*10

'jjjjjjjjjj'

#### Basic Built-in String methods
Objects in Python usually have built-in methods. These methods are functions inside the object that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

In [45]:
name

'cames'

In [46]:
# Upper case a string
name.upper()

'CAMES'

In [47]:
# Lower case
name.lower()

'cames'

In [48]:
sentence = 'Multimedia University of Kenya'

In [49]:
sentence.split()

['Multimedia', 'University', 'of', 'Kenya']

In [50]:
# Split by a specific element (doesn't include the element that was split on)
sentence.split('u')

['M', 'ltimedia University of Kenya']

#### Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [51]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'